/* =colors
********************************************************************** */
$c-white: #fff;

/* =fonts
********************************************************************** */

/* =font sizes
********************************************************************** */

$fontsize-small: 18px;
$fontsize-standard: 22px;
$fontsize-medium: 24px;
$fontsize-large: 30px;

/* =img wrappers
********************************************************************** */

$img-wrapper-xx-small: 100px;
$img-wrapper-x-small: 135px;
$img-wrapper-small: 186px;
$img-wrapper-large: 1200px;

/* =breaks
********************************************************************** */

$break-xs: 480px;
$break-mobile: 767px;
$break-mid: 991px;
$break-laptop: 1299px;
$break-high: 1600px;
$wrapper-small: 200px;
$wrapper-standard: 300px;
$wrapper-normal: 500px;

/* =minimum device sizes
********************************************************************** */

$tablet-min: 768px;
$desktop-min: 1200px;
$iphonex-min: 375px;

/* =Grid
********************************************************************** */

/* =Paddings, Margins
********************************************************************** */

$space-xx-small: 5px;
$space-x-small: 10px;
$space-small: 15px;
$space-standard: 20px;
$space-medium: 30px;
$space-large: 40px;
$space-x-large: 50px;
$space-xx-large: 60px;
$space-xxx-large: 200px;

/* =Buttons
********************************************************************** */

$button-x-small: 13px;
$button-small: 20px;
$button-75procentage-standard: 85px;
$button-standard: 114px;
$button-medium: 140px;
$button-large: 200px;
$button-x-large: 285px;
$button-xx-large: 380px;
